body {
    margin: 0;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

canvas {
    border: 1px solid red;
    background-color: #fff;
}